global
    log stdout format raw daemon

    pidfile /var/run/haproxy/haproxy.pid
    stats socket /var/run/haproxy/haproxy.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    master-worker
    user "${HAPROXY_USER}"
    group "${HAPROXY_GROUP}"

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    tune.ssl.default-dh-param  2048
    ssl-default-bind-ciphers   EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-bind-options   no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    ssl-default-server-ciphers EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

program dataplane-api
    no option start-on-reload
    command /usr/local/bin/dataplaneapi -f /etc/haproxy/dataplaneapi.hcl
    # user "${HAPROXY_USER}"
    # group "${HAPROXY_GROUP}"

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http
    bind *:8080
    monitor-uri /healthz
    default_backend default

# frontend application
#     mode              http
#     option            httplog
#     option            forwardfor if-none
#     log               global
#     bind              *:8000
#     default_backend   application

frontend prometheus
    mode          http
    bind          *:9000
    http-request  use-service prometheus-exporter if { path /metrics }
    no log

# Default backend always returns 404 error but a 400 error shows in the logs
backend default
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/default-backend.http
    http-request deny deny_status 400
