global
    log stdout format raw daemon

    pidfile /var/run/haproxy.pid
    stats socket /var/run/haproxy.sock mode 660 level admin
    stats timeout 30s
    master-worker
    user "${HAPROXY_USER}"
    group "${HAPROXY_GROUP}"

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    tune.ssl.default-dh-param  2048
    ssl-default-bind-ciphers   EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-bind-options   no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    ssl-default-server-ciphers EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

program dataplane-api
    no option start-on-reload
    command /usr/local/bin/dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/local/sbin/haproxy --config-file /usr/local/etc/haproxy/haproxy.cfg --reload-cmd "/reload" --reload-delay 5 --userlist api

userlist api
    # admin:haproxy
    user admin password $6$qffWoVqkvLPjzydW$M8MgKfiNUoGLFIFbhKUDpcSwrFjbiG2ZQKETR3M4ha/.0wo1/O7gh1hDBEwpz1NvlQR2psPGBL/VWioGPBk5j.

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http
    bind *:8080
    monitor-uri /healthz
    default_backend default

# Default backend always returns 404 error but a 400 error shows in the logs
backend default
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/default-backend.http
    http-request deny deny_status 400
